* {
  font-family: 'Raleway', sans-serif;
}

body {
  padding: 20px;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 20px;
  box-shadow: 1px 1px 10px black;
}

h1 {
  font-weight: 700;
}

h2 {
  margin: 0 0 5px 0;
  text-align: center;
}

h4 {
  margin-bottom: 5px;
}

form {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.generate-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 30px;
  width: 100%;
}

.rando-color-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  margin-bottom: 10px;
  width: 100%;
}

.gen-color {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-end;
  height: 150px;
  padding: 5px;
  box-shadow: 0px 0px 5px 0px rgba(0,0,0, 0.5);
  transition: 2s;
}

.lock-img {
  height: 20px;
  width: 20px;
  background-image: url('../assets/padlock-unlock.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.lock-img-locked {
  background-image: url('../assets/padlock.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.lock-img:hover {
  cursor: pointer;
}

.swatch {
  height: 50px;
  width: 50px;
}

.generate-btn,
.submitPaletteBtn,
.submitProjectBtn {
  background: none;
  border: none;
  box-shadow: 1px 1px 5px black;
  font-size: 16px;
  font-weight: 700;
  padding: 10px;
  outline-style: none;
}

.submitPaletteBtn,
.submitProjectBtn {
  font-size: 13px;
  padding: 6px;
}

.generate-btn:hover,
.submitPaletteBtn:hover,
.submitProjectBtn:hover {
  background-color: rgba(0,0,0,0.1);
}

.generate-btn:active,
.submitPaletteBtn:active,
.submitProjectBtn:active {
  box-shadow: 1px 1px 3px grey;
  position: relative;
  top: 1px;
  transition: 1s;
}

.generate-btn:disabled,
.submitPaletteBtn:disabled,
.submitProjectBtn:disabled {
  color: gray;
}

.palette-name-input,
.addProjectInput {
  margin-right: 5px;
  font-size: 13px;
  padding: 6px;
}

select {
  border: 0;
  box-shadow: 1px 1px 5px black;
  margin-right: 20px;
}

.project-display {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.palette-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-right: 20px;
}

.palette-colors-container {
  border: 1px solid gray;
}

.delete-btn {
  height: 30px;
  width: 20px;
  background: none;
  background-image: url('../assets/recycling-bin.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border: none;
}

.delete-btn:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.project-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.palette-container:hover {
  cursor: pointer;
  opacity: 0.8;
}
