* {
  font-family: 'Raleway', sans-serif;
}

body {
  padding: 20px;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border: 2px solid black;
}

h1 {
  font-weight: 700;
}

.generate-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 30px;
  width: 100%;
}

.rando-color-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  margin-bottom: 10px;
  width: 100%;
}

.gen-color {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-end;
  height: 150px;
  padding: 5px;
  box-shadow: 0px 0px 5px 0px rgba(0,0,0, 0.5);
  transition: 2s;
}

.lock-img {
  height: 20px;
  width: 20px;
  background-image: url('../assets/padlock-unlock.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.lock-img-locked {
  background-image: url('../assets/padlock.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.lock-img:hover {
  cursor: pointer;
}

.swatch {
  height: 50px;
  width: 50px;
}

/*.palette-color1 {
  background-color: #8b6d17;
}

.palette-color2 {
  background-color: #c9d813;
}

.palette-color3 {
  background-color: #5ff649;
}

.palette-color4 {
  background-color: #12de24;
}

.palette-color5 {
  background-color: #d6525b;
}*/

.project-display {
  display: flex;
}

.delete-btn {
  height: 30px;
  width: 20px;
  background: none;
  background-image: url('../assets/recycling-bin.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border: none;
}

.delete-btn:hover {
  cursor: pointer;
  transform: scale(1.1);
}
